include reflux/engine/theme.js
include reflux/engine/reflux.js
include reflux/engine/theme.min.js
include reflux/engine/reflux.min.js

include reflux/variables/dark.txt
include reflux/variables/root.txt
include reflux/variables/light.txt