!!syntax!!

.replit-ui-theme-root.dark{
    !!css!!
}

.replit-ui-theme-root.light{
    !!css!!
}

.line-numbers {
    color: var(--color-primary-1) !important;
}

.jsx-3971054001.content, p, .jsx-4279741890 {
    background-color: var(--color-background-2) !important;
    color: #fff !important;
}

.jsx-3414412928 {
    background-color: var(--color-background-1) !important;
}

.toggle-bar {
    background-color: var(--color-foreground-2) !important;
}


.jsx-467725132 {
    background-color: var(--color-background-3) !important;
}

.jsx-2906438576, .jsx-986859180, .jsx-918008940  {
    background-color: var(--color-background-3) !important;
}

.interactive.jsx-2106077415:hover {
    border-color: var(--color-background-4) !important;
}

.jsx-3414412928.sidebar-layout-header-toggle-alert {
    background-color: var(--color-primary-1) !important;
}
